




@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



/* font-size media queies */

@media (max-width:320px) {
    ::placeholder {
        font-size:0.8rem;
    }
}


@media (max-width: 767px) {
    header h1 {
        font-size:3rem;
    }

    div h5 {
        font-size:1.1rem;
    }

    div p {
        font-size: 0.8rem;
    }
}


@media (min-width:768px) {
    header h1 {
        font-size:4rem;
    }
    div h5 {
        font-size:1.5rem;
    }
    div p {
        font-size:1.0rem;
    }
    #heading1 {
        font-size:2.5rem;
    }
}


@media (min-width:992px) {
    header h1 {
        font-size:5rem;
    }
    div h5 {
        font-size:1.8rem;
    }
    div p {
        font-size:1.3rem;
    }
    #heading1 {
        font-size:3rem;
    }

}



* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



body {
    position:relative;
}

body:before {
    content: ' ';
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0.2;
    background-image:url("./images/background.png");
}

.wrap {
    position:relative;
}


header h1 {
    font-family: 'Righteous';
    color:rgb(33, 137, 86);
    font-weight:bold;
}

#heading1 {
    font-family: 'Righteous';
    text-decoration:underline;
}

div h5 {
    font-weight: bold;
}


.btn-group {
    background-color:rgba(255, 255, 255, 0.63);
}

.btn-group .btn-selected {
    background-color:rgb(33, 137, 86);
    color: rgb(248, 249, 250);
}



.text-background {
    background-color:rgba(255, 255, 255, 0.63);
    padding:1%;
    border:thin solid rgb(33, 137, 86);
}

#clear {
    background-color:rgba(255, 255, 255, 0.63);
}

#months {
    border:thin solid rgb(33, 137, 86);
    color:rgb(33, 137, 86);
    background-color:rgba(255, 255, 255, 0.63);
}


#months:focus {
    border:medium solid rgb(33, 137, 86);
    box-shadow:none;
    color:rgb(33, 137, 86);
    outline:0;
}

#searchbox {
    border:thin solid rgb(33, 137, 86);
    color:rgb(33, 137, 86);
    background-color:rgba(255, 255, 255, 0.63);
}

#searchbox:focus {
    border:medium solid rgb(33, 137, 86);
    box-shadow:none;
    color:rgb(33, 137, 86);
    outline:0;
}

details.collapsed {
    color: rgb(33, 137, 86);
    border:thin solid rgb(33, 137, 86);
    outline:thin solid rgb(33, 137, 86);
    border-radius:3px;
    background-color:rgba(255, 255, 255, 0.63);
}


details.expanded {
    color: rgb(33, 137, 86);
    border:thin solid rgb(33, 137, 86);
    outline:thin solid rgb(33, 137, 86);
    border-radius:3px;
    background-color:rgba(255, 255, 255, 0.63);
}


details.expanded summary {
    font-weight:bold;
    background-color:rgba(255, 255, 255, 0.63);
}



div.card {
    border:thin solid rgb(33, 137, 86);
}

footer {
    font-size: 0.8rem;
}





